* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    color: #161853;
    margin: 5px auto;
    max-width: 380px;
    border: 1px solid rgba(236, 37, 90, 0.3);
    border-radius: 3px;
    background-color: #FAEDF0;
}
h1 {
    border-bottom: 1px solid rgba(236, 37, 90, 0.3);
    width: 100%;
    margin: 0;
    padding: 20px 20px;
}
.content {
    padding: 10px 20px;
}
.card {
    margin-bottom: 10px;
}
.card div {
    padding-left: 20px;
}
.js_praticing {
    margin-top: 20px;
}
ul {
    list-style-type: none;
}
ul li a {
    color: #da1bc0;
    text-decoration: none;
}
h4 {
    margin: 10px 0;
}

ul li a:hover {
    color: #EC255A;
}